<div class="table-container">

  <div class="table-holder">
    <table mat-table class="full-width-table" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
        <td mat-cell *matCellDef="let row">{{row.owner}}</td>
      </ng-container>
  
      <ng-container matColumnDef="doctype">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
        <td mat-cell *matCellDef="let row">{{row.doctype}}</td>
      </ng-container>
  
      <ng-container matColumnDef="expires_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Expires at</th>
        <td mat-cell *matCellDef="let row">{{row.expires_at}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></tr>
    </table>
  </div>

  <mat-paginator #paginator class="floaty-bottom"
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>

  <button class="my-fab" mat-raised-button color="primary" (click)="openDetailsOverlay()">
    <mat-icon>add</mat-icon>
    Add new
  </button>
</div>
