<mat-card class="shipping-card">
  <mat-card-header>
    <mat-card-title>{{editMode ? 'Edit document' : 'New document'}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="docForm">
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Type" (selectionChange)="selCh($event)" formControlName="doctype">
              <mat-option *ngFor="let type of doctypes" [value]="type._id">
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="docForm.controls['doctype'].hasError('required')">
              Type is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Expires at" type="date" formControlName="expires_at">
          </mat-form-field>
        </div>
      </div>
    </form>
    <form [formGroup]="detailsForm">
      <div *ngFor="let detail of details; let idx = index" class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="{{details[idx].key}}"
              type="{{details[idx].keyType === 'Date' ? 'date' : (details[idx].keyType === 'Number' ? 'number' : 'text')}}"
              formControlName="{{idx.toString()}}">
          </mat-form-field>
        </div>
      </div>
    </form>

    <!--File upload-->
    <input type="file" style="display: none !important;" (change)="onFileSelected($event)" #fileUpload>

    <div class="file-upload">

      {{file?.name || "No file uploaded yet."}}

      <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <!---------------->

    <!--File history-->
    <div *ngIf="editMode" class="file-history-container">
      <div class="file-history-title">Files:</div>
      <div class="file-history">
        <div class="file-history-record top-line">
          <span class="file-date">{{docIn.download.date  | date:'yyyy/MM/dd HH:mm'}}</span>
          <span class="file-date" style="color:red">CURRENT</span>
          <button mat-icon-button (click)="downloadBtn($event, docIn.download)"><mat-icon>download</mat-icon></button>
        </div>
        <div class="file-history-record" *ngFor="let record of docIn.oldfiles">
          <span class="file-date">{{record.date   | date:'yyyy/MM/dd HH:mm'}}</span>
          <button mat-icon-button (click)="downloadBtn($event, record)"><mat-icon>download</mat-icon></button>
        </div>
      </div>
    </div>
    <!---------------->
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="detailsForm.invalid || docForm.invalid || (!file && !editMode)" type="button"
      (click)="onSubmit()">Submit</button>
    <button *ngIf="editMode" mat-raised-button color="warn" type="button" (click)="onDelete()">Delete</button>
  </mat-card-actions>
</mat-card>